{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Fotos - Rio de Janeiro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Galeria de Fotos</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'attractions' %}">Atrações</a>
            <a  href="{% url 'history' %}">História</a>
            <a href="{% url 'gallery' %}">Galeria</a>
        </nav>
    </header>
    <section>
        <h2>Imagens do Rio de Janeiro</h2>
        <div class="gallery">
            <img src="{% static 'images/pao_de_acucar.jpg' %}" alt="Pão de Açúcar">
            <img src="{% static 'images/cristo_redentor.jpg' %}" alt="Cristo Redentor">
            <img src="{% static 'images/copacabana.jpg' %}" alt="Praia de Copacabana">
        </div>
    </section>
</body>

</html>