{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Rio de Janeiro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Explore Rio de Janeiro</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'attractions' %}">Atrações</a>
            <a href="{% url 'history' %}">História</a>
            <a href="{% url 'gallery' %}">Galeria</a>
        </nav>
    </header>
    <section>
        <h2>Descubra as Maravilhas do Rio de Janeiro</h2>
        <p>Bem-vindo ao Rio de Janeiro, uma das cidades mais vibrantes e icônicas do mundo. Explore nossas páginas para
            conhecer mais sobre as atrações, história, cultura e belezas naturais desta cidade incrível.</p>
    </section>
</body>

</html>